.mainCard {
    height: fit-content;
    width: fit-content;
    padding: 20px;
}

.rangePickerContainer {
    width: var(--rangePickerWidth);
}

.chartsContainer {
    height: var(--chartHeight);
    width: var(--chartWidth);
}


@media screen and (max-width: 600px) {
    .rangePickerContainer,
    .chartsContainer {
        width: var(--chartWidthResponsive);
    }
    
}