.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: 6rem; */
  /* min-height: 100vh; */
}

.modalSensorCard {
  position: absolute;
  top: 10%;
  left: 10%;
  
  @media screen and (max-width: 600px)  {
    top: 1%;
    left: 5%;
    width: 85%;
  }
}