.graphsContainer {
    /* have width defined in JS page component */
    /* width: 95vw; */
    height: 80vh;
    /* height: fit-content; */
    margin: auto;
}


/* setting height to children, because charts are svg and they don't show on mobile   */
.graphsContainer > * {
    @media screen and (max-width: 600px) {
            min-height: 250px;
    }
}

.dataDateContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0 0 0;

    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
}